.Footer footer {
  background-color: #19a8e3;
  padding: 20px 0;
  text-align: center;
  font-size: 18px;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.Footer .comp{
    background-color: aquamarine;
}
